section {
  padding: 100px 0px;
  text-align: center;
  background-color: white;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: auto;
}
.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #212121;
  margin: auto;
  text-transform: uppercase;
}
.awesome-line {
  margin: auto;
  width: 62px;
  border-top: 1px solid #d98943;
  margin-top: 30px;
}
.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #868686;
  margin-top: 30px;
}

.container-row {
  margin-top: 67px;
  margin-left: -15px;
  display: flex;
  justify-content: space-between;
}
.image-row {
  width: 350px;
  text-align: center;
  margin-left: 15px;
}
.image-row_circle {
  margin: auto;
  border: 1px solid #d98;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-row {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}
.text-row {
  margin-top: 16px;
  color: #000;
  font-size: 14px;
  line-height: 19px;
}
