.section-customers {
  padding: 80px 0;
}
.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: auto;
}
.title::after {
  content: "";
  width: 64px;
  border: 1px solid #e72424;
}

.row-customers {
  display: flex;
  margin: 0px -15px;
  margin-top: 67px;
  align-items: center;
  justify-content: space-between;
}
.item-customers {
  width: 300px;
  margin: 0px 15px;
}
.item-desk {
  margin-bottom: 22px;
  position: relative;
}
.block-description {
  background-color: #e2e2e2;
  padding: 9px 22px 6px 23px;

  align-items: center;
  border-radius: 7px;
}
.description-customers {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #86878b;
  line-height: 19px;
  border: 0px;
}
.triangle {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #e2e2e2;
  transform: rotate(180deg);
  position: absolute;
  top: 100%;
  left: 15%;
}
.item-review {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.image-foto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.foto-Barash {
  top: 70px;
  height: 70px;
}
.foto-Nusha {
  top: 70px;
  height: 70px;
  margin-left: -10px;
}
.foto-Krosh {
  top: 70px;
  height: 70px;
  margin-left: -12px;
}
.initials {
  width: 97px;
  text-align: right;
}
.initials-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
}
.position-text {
  margin-top: 12px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
