header {
  background-color: hsl(0, 0%, 0%);
  padding: 25px 0;
}
.container {
  padding: 0px 15px;
  max-width: 1170px;
  margin: auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font: normal normal 30px Raleway;
  text-transform: uppercase;
  color: #ffffff;
}

.logo-end {
  font: normal normal 30px Raleway;
  text-transform: uppercase;
  color: #f86e1d;
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-list-item {
  font: normal 600 15px Raleway;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 48px;
  transition: 0.2s;
}
.nav-list-item:hover {
  color: rgb(235, 73, 14);
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson,
    0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
}
.nav-list-item:first-child {
  margin-left: 0px;
}
