body {
  width: 100%;
}
.social {
  background: #f8efef;
  padding: 14px 0;
}
.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: auto;
}
.social-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-block-left {
  max-width: 365px;
}
.social-title {
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
}

.social-desc-p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #86878b;
  text-align: left;
  margin-top: 14px;
}
.social-block-right {
  max-width: 684px;
  width: 100%;
}
.icons {
  font-size: 42px;
  color: rgb(192, 190, 190);
}
.icons-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.2s;
}
.icons-list-item:hover {
  color: rgb(235, 73, 14);
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson,
    0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
}
