@import url("../css/awesome.css");
@import url("../css/about.css");
@import url("../css/pricing.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/header.css");
@import url("../css/axit.css");
@import url("../css/social.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("../css/footer.css");
html {
  font-family: "Open Sans", sans-serif;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: rgb(92, 91, 91);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
a {
  color: inherit;
}
